
<form method="post" action="/add">
  <label for="task">Task</label>
  <input type="text" name="task" placeholder="Enter your task name"><br>
  <label for="task_status">Status</label>
  <select name="task_status">
    <option value="Not Done">Not Done</option>
    <option value="Done">Done</option>
  </select>
  <input type="submit" value="Add">
</form>
<a href="/">Home</a>