<h1>Hi, I'm located in the index</h1>

<h2>what would you like to do?</h2>

<ul>
  <li><a href="/add">Add to todo list</a></li>
  <li><a href="/remove">Remove a task</a></li>
  <li><a href="/delete">Delete all tasks</a></li>
</ul>